snippet html "basic html5 document" b
<!DOCTYPE html>
<html lang="${1:en}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$2</title>
</head>
<body>
	$0
</body>
</html>
endsnippet

snippet css "Stylesheet link tag" b
<link rel="stylesheet" href="$1">$0
endsnippet

snippet js "js script tag" b
<script src="$1">$2</script>$0
endsnippet
